@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: rgb(250 250 250);
    --bg-secondary: rgb(255, 255, 255);
    --bg-tertiary: rgb(229 231 235 / 0.8);
    --bg-codeblock: #f5f2f0;
    --text-primary: rgb(0, 0, 0);

    --holiday-table-item-bg: 231, 255, 227;
  }

  :root[class~="dark"] {
    --bg-primary: #3f3f3f;
    --bg-secondary: #282828;
    --bg-tertiary: #575757;
    --bg-codeblock: #f5f2f0;
    --text-primary: rgb(255, 255, 255);
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
}

@layer components {
  .card {
    @apply rounded-md py-3 px-4 border border-gray-200 shadow-sm min-w-80;
  }

  .feed {
    @apply grid gap-3 grid-cols-1 md:grid-cols-2 xl:grid-cols-3;
  }
}

@layer utilities {
  .h-full-without-header {
    height: calc(100vh - var(--header-height));
  }

  .inner-bottom-shadow,
  .inner-bottom-shadow-holiday-table-item-bg {
    position: relative;
  }

  .inner-bottom-shadow::before,
  .inner-bottom-shadow-holiday-table-item-bg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .inner-bottom-shadow::before {
    box-shadow: inset 0 -10px 8px rgba(255, 255, 255, 0.5);
  }

  .inner-bottom-shadow-holiday-table-item-bg:before {
    box-shadow: inset 0 -10px 8px rgba(var(--holiday-table-item-bg), 0.5);
  }
}
